@import '../../Sass/Libs/variables.scss';
@import '../../Sass/Libs/mixin.scss';

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;

    @include respond-to('medium'){
        padding: 2rem 4%;
    }

    @include respond-to('small'){
        background: $bg-color-primary;

        #menu-icon{
            display: block;
        }
    }

    &.sticky{
        background: $bg-color-primary;
    }

    &__logo{
        font-size: 2.5rem;
        color: $text-color;
        font-weight: 600;
    }
}

#menu-icon{
    font-size: 3.6rem;
    color: $text-color;
    cursor: pointer;
    display: none;
}